body {
    background-color: rgb(26, 118, 175);
    max-width: 400px;
    margin: 0 auto;
}

#tiptop {
    font-size: 64px;
    color: white;
    text-align: center;
    margin: 1em;
}

#tiptop:hover {
    color:black ;
    cursor:pointer ;
}


.nellyquote {
    color:white ;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.nellyquote2 {
    color:white;
    font-size: 18px;
    text-align: center;
}

.list {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img {
    display: block;
    max-width: 35%;
    margin: 0 auto;
    padding: 10px 30px;
}

.nellyquote3 {
    color:white ;
    font-size: 1.5em;
    text-align: center;
    font-family:'Times New Roman', Times, serif
}

footer {
    font-size:12px ;
    text-align: center;
}