
.grid-container {
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.grey-square {
    background-color: grey;
    width: 100%;
    grid-column: 2;
    grid-row: 1/3;
}

#cherries {
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
}

#title {
    font-size: 186px;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
}

#subtitle {
    font-size: 144px;
    color:red;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
