body {
    margin: 0% auto;
}

header{
    margin: 0% auto;
}

#circles {
    background-color: grey;
}

.circ{
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(57, 57, 57);
    width: 200px;
}