    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&display=swap');


    :root {
        --primary-color: #0033FF   ;
        --secondary-color: #EAFF00 ;
        --accent1-color: #FF0000;
        --accent2-color: #ADF1F2;
        --accent3-color: #42033D;
        --accent3-color: #340BEB;
    
        --heading-font: 'Bebas Neue', sans-serif;
        --paragraph-font: 'Lora', serif;
    
        --headline-color-on-white: #0033FF;  /* headlines on a white background */ 
        --headline-color-on-color: white; /* headlines on a colored background */ 
        --paragraph-color-on-white: #340BEB; /* paragraph text on a white background */ 
        --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
        --paragraph-background-color: #340BEB  ;
        --nav-link-color: #396E94;
        --nav-background-color: #EAFF00;
        --nav-hover-link-color: white;
        --nav-hover-background-color: #ADF1F2;
    }

    #logo{
        width: 80px;
        border-radius: 50%;
    }

    .hdr-white {
        font-family: 'Bebas Neue', 'sans-serif';
        color:#0033FF;
        font-size: 2em;

    }

    .hdr-color {
        font-family: 'Bebas Neue', 'sans-serif';
        color:#ffffff;
        font-size: 2em;
    }

    .body-text-white {
        font-family: 'Lora', 'serif';
        color: #340BEB;
    }

    .body-text-color {
        font-family: 'Lora', 'serif';
        color:#ffffff;
    }


    body{
        background-color: #ffffff;
        font-size: 22px;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #0033FF;
    }

    h2 {
        margin: 0;
    }

    #content {
        max-width: 1600px;
        margin: 0 auto;
    }

    nav a {
        text-decoration: none;
        color: #EAFF00;
        padding: 35px;  
    }

    nav a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    #hero-box {
        border: 5px solid #FF0000;
    }

    #hero {
        color:#0033FF;
        text-align: center;
    }

    #hero-img {
        width:100%;
    }

    #hero-msg {
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 2em;
    }

    .site-links-hero{
        font-size: 18px;
    }

    .button-box{
        text-align: center;
    }

    .book{
        background-color: darkgrey;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }

    .book:hover{
        background-color: #EAFF00;
    }

    .home-grid {
        padding: 10px;
    
    }

    main section{
        text-align: center;
        color:#0033FF
    }

    main section img{
        box-sizing: border-box;
    }

    #mountains {
        width:100%;
        padding: 10px;
        margin: 100px 0;
    }

    .card-img {
        border: 10px solid #FF0000;
    }

    #background {
        height: 725px;
        background-color: #0033FF;
        padding: 10px;
        margin: 20px;
    }

    Section h2 {
        padding: 15px 30px;
    }

    .msg{
        background-color: #0033FF;
        line-height: 1.5em;
    }

    .join {
        font-family: 'Lora', 'serif';
        color:#FF0000;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }

    .join:hover{
        color: #EAFF00;
        text-decoration: underline;
    }

    footer{
        background-color: darkgrey;
        color:blue ;
        text-decoration: none;
        padding: 25px 50px;
        margin-top: 200px;
    }

    footer .social img {
        padding-top: 15px;
    }

    footer .site-links a {
        text-decoration: none;
        font-family: 'Lora', 'serif';
        color:#ffffff
    }

    footer .site-links a:hover {
        text-decoration: underline;
        color: #EAFF00;
    }

    footer p {
        font-size: 1.2em;
    }    
                        

    .icon{
        width: 80px;
        padding-top: 10px;
    }

    .site-links a {
        font-family: 'Lora', 'serif';
        text-decoration: none;
        color: #000000;
    }

    .site-links a:hover {
        text-decoration: underline;
        color: #EAFF00;
    }

    .site-links-hero a {
        font-family: 'Lora', 'serif';
        text-decoration: none;
        color: #FF0000;
    }

    .site-links-hero a:hover {
        text-decoration: underline;
        color: #EAFF00;
    }

    .social a {
        text-decoration:none;
    }