@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&display=swap');


:root {
    --primary-color: #0033FF   ;
    --secondary-color: #EAFF00 ;
    --accent1-color: #FF0000;
    --accent2-color: #ADF1F2;
    --accent3-color: #42033D;
    --accent3-color: #340BEB;
  
    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Lora', serif;
  
    --headline-color-on-white: #0033FF;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #340BEB; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #340BEB  ;
    --nav-link-color: #396E94;
    --nav-background-color: #EAFF00;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #ADF1F2;
}

#logo{
    width: 80px;
}

body{
    background-color: #ffffff;
}

header {
    background-color: #0033FF;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #EAFF00;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#hero {
    color:#0033FF;
    text-align: center;
}

#hero-img {
    width:100%;
}

#hero-msg {
    text-align: center;
}

.button-box{
    text-align: center;
}

.book{
    background-color: darkgrey;
}

.book:hover{
    background-color: #EAFF00;
}

main section{
    text-align: center;
    color:#0033FF
}

#mountains {
    width:100%;
}

#background {
    height: 725px;
    background-color: #88e9eb;
}

.msg{
    background-color: #0033FF;
}

.join {
    background-color: #0033FF;
}

.join:hover{
    background-color: #EAFF00;
}

footer{
    background-color: darkgrey;
    color:blue ;
    text-decoration: none;
}

footer .site-links a {
    text-decoration: none;
    color: #0033FF;
}

footer .site-links a:hover {
    text-decoration: underline;
    color: #EAFF00;
}

footer p {
    font-size: 1.2em;
}    
                    

.icon{
    width: 80px;
}

.site-links a {
    text-decoration: none;
    color: #000000;
}

.site-links a:hover {
    text-decoration: underline;
    color: #EAFF00;
}

.site-links-hero a {
    text-decoration: none;
    color: #FF0000;
}

.site-links-hero a:hover {
    text-decoration: underline;
    color: #EAFF00;
}

.social a {
    text-decoration:none;
}