body {
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 4em;
    background-color: lightskyblue;
}

img {
    display: block;
    max-width: 35%;
    margin: 0 auto;
    padding: 10px 30px;
}

.nellyquote {
    color:white
}

.nellyquote2 {
    color:white ;
    font-size: 32px;
    padding: 30px 10px;
}